html,
body {
  background-color: #292929;
  color: #EFFFFF;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-15 {
  font-size: 15px;
}

.font-36 {
  font-size: 36px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 50px;
}
.mt-8 {
  margin-top: 80px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mr-2 {
  margin-right: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-width-90 {
  max-width: 90%;
}

.align-right {
  text-align: right;
}

.description {
  text-align: right;
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx-width-90 {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.holster {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}

.container {
  display: flex;
  overflow: auto;
  flex: none;
}

.container.x {
  width: 100%;
  flex-flow: row nowrap;
}

/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.spacer {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  width: 5%;
  margin: 0 10px;
}

.card {
  background-color: #212121;
  color: #EFFFFF;
  position: relative;
  scroll-snap-align: center;
  flex: none;
  width: 70%;
  height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 15px 15px 15px 15px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #888;
  line-height: 1.5;
}

.w-100 {
  display: block;
  width: 85%;
}

.card a.button {
  text-align: center;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  background-color: #1A1A1A;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.row {
  display: flex;
}

.item1 {
  flex: 9;
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: center;
}

.item2 {
  flex: 1;
  font-size: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.holster-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}

.container-2 {
  width: 100%;
}

.card-2 {
  background-color: #212121;
  color: #EFFFFF;
  width: 100%;
  scroll-snap-align: center;
  flex: none;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.card-2 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-2 p {
  font-size: 16px;
  color: #888;
  line-height: 1.5;
}

.card-2 a.button {
  text-align: center;
  display: block;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

/* ========================== Radio Box ========================== */
.radio-inputs {
  justify-content: center;
  align-items: center;
  max-width: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 2px solid #212121;
  background-color: #fff;
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 1rem;
  right: 1.3rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 15px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 15px;
}
