@font-face {
  font-family: 'vazir';
  src: url(../../dist/fonts/Vazir-Regular.woff) format('woff');
}

body {
  --bg-color: var(--tg-theme-bg-color, #fff);
  font-family: 'vazir', sans-serif;
  background-color: var(--bg-color);
  color: var(--tg-theme-text-color, #222);
  font-size: 14px;
  margin: 0;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
}